.Header {
    width: 100%;
    box-shadow: 2px 5px 16px rgb(202, 137, 255);
}

.navbar-color {

    background: linear-gradient(to bottom, #A434FF, #D4B1E2);

}

.heading {
    font-size: 1.8rem;
    color: white;
    font-weight: 900;
}

.navlink {
    color: white;
}

.navlink:hover {
    color: #3d1062;
}
